{% extends 'base.html' %}

{% block content %}
    <h1>Quiz</h1>
    <h2>{{ question.text }}</h2>

    <form method="post" action="{% url 'quiz:quiz_question' %}">
        {% csrf_token %}
        
        {% if is_correct is not None %}
            {% for answer in answers %}
                <input type="radio" name="answer" value="{{ answer.id }}" disabled {% if answer.id == user_answer.id %}checked{% endif %}>
                <label for="answer_{{ answer.id }}">{{ answer.text }}</label><br>
            {% endfor %}
            <div>
                {% if is_correct %}
                    Poprawna odpowiedź!
                {% else %}
                    Niepoprawna odpowiedź.
                {% endif %}
            </div>
            <button type="submit" name="next">Next</button>
        {% else %}
            {% for answer in answers %}
                <input type="radio" name="answer" value="{{ answer.id }}">
                <label for="answer_{{ answer.id }}">{{ answer.text }}</label><br>
            {% endfor %}
            <button type="submit">Submit</button>
        {% endif %}
    </form>
{% endblock %}
